<!DOCTYPE html>
<html lang="pt-br">

<%- include('../partials/head'); %>

<body class="container">

    <%- include('../partials/header', {pagina: 'Sobre'}); %>

    <main class="jumbotron">
        <div>
            <h1>Sobre mim</h1>
            <p>Salve rapazeada, sou o Caique Costa, uma aspirante a programador buscando conhecimento e felicidade!</p>
        </div>
    </main>

    <%- include('../partials/footer'); %>
    
</body>
</html>